/************************* NAVBAR ***********************/

.navbar-brand img {
  width: 80px;
}

.navbar {
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: red;
}

/********************** CAROUSEL-CAPTİON *****************/

.carousel-item {
  max-height: calc(100vh - 90px);
}

.carousel-caption h5 {
  color: red;
  font-size: 3rem;
  text-shadow: 3px 3px 3px black;
}
.carousel-caption p {
  font-weight: 500;
  text-shadow: 3px 3px 3px black;
}

.carousel-item .btn {
  width: 6rem;
  margin-bottom: 1.2rem;
}

.carousel-indicators button {
  background-color: red !important;
  width: 3rem !important;
  height: 0.3rem !important;
  margin-right: 0.5rem !important;
}

/** *******************TEACHER ***********/
.card {
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.08);
}

.card .socials i {
  transition: opacity 0.5s;
  cursor: pointer;
}

.card .socials :hover {
  opacity: 0.7;
}

/** *******************Students ***********/

#students img {
  border-radius: 15px;
}

section#courses .nav-link.active {
  background-color: red;
}

section#courses .nav-link {
  color: white;
}
